@font-face {
    font-family: Roboto;
    src: url("/rsschool-cv/assets/fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header {
    border: 0px solid red;
}
.main {
    border: 100px solid blue;
}
.footer {
    border: 50px solid green;
}

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}